<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gabi77_GoogleRemarketingTags>
            <version>0.1.0</version>
        </Gabi77_GoogleRemarketingTags>
    </modules>
    <global>
        <models>
            <googleremarketingtags>
                <class>Gabi77_GoogleRemarketingTags_Model</class>
            </googleremarketingtags>
        </models>
        <helpers>
            <googleremarketingtags>
                <class>Gabi77_GoogleRemarketingTags_Helper</class>
            </googleremarketingtags>
        </helpers>
        <blocks>
            <googleremarketingtags>
                <class>Gabi77_GoogleRemarketingTags_Block</class>
            </googleremarketingtags>
        </blocks>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <googleremarketingtags>
                        <type>singleton</type>
                        <class>googleremarketingtags/observer</class>
                        <method>controllerActionLayoutGenerateXmlBefore</method>
                    </googleremarketingtags>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>

        <translate>
            <modules>
                <googleremarketingtags>
                    <files>
                        <default>Gabi77_GoogleRemarketingTags.csv</default>
                    </files>
                </googleremarketingtags>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <googleremarketingtags>
                    <files>
                        <default>Gabi77_GoogleRemarketingTags.csv</default>
                    </files>
                </googleremarketingtags>
            </modules>
        </translate>
    </adminhtml>
</config>